<md-content layout="row" layout-sm="column" layout-fill> <md-sidenav
	layout="row" class="md-sidenav-left" md-is-open="$parent.isTreeOpen"
	md-is-locked-open="$mdMedia('xl')">
<div ui-tree data-drag-enabled="false" flex>
	<ol class="md-whiteframe-10dp">
		<i class="fa fa-database"></i>
		<label>Databases</label>
	</ol>
	<ol ui-tree-nodes="" ng-model="dbs">
		<li ng-repeat="db in dbs" ui-tree-node>
			<div ui-tree-handle ng-click="loadTables(this)"
				class="md-button md-button-left">
				<i
					ng-class="collapsed ? 'fa fa-arrow-circle-o-up': 'fa fa-arrow-circle-right'"></i>
				<label> {{db.title}}</label>
			</div>
			<ol ui-tree-nodes="" ng-model="db.tables" ng-show="collapsed">
				<li ng-repeat="tbl in db.tables" ui-tree-node>
					<div ui-tree-handle ng-click="loadFields(this)"
						class="md-button md-button-left">
						<i class="fa fa-table"></i> <label>{{tbl.title}}</label>
					</div>
				</li>
			</ol>
		</li>
	</ol>
</div>
</md-sidenav>
<div id="sideContent" layout="column" layout-fill>
	<div ng-cloak ng-show="selectedTbl">
		<md-content id="sContContainer"> <md-tabs
			md-selected="selectedTab" id="sContTabs" md-border-bottom>
		<md-tab label="Properties"> <md-content class="md-padding">
		<md-data-table-toolbar ng-model="selectedTbl">
		<h2 class="md-title">{{selectedTbl}}</h2>
		</md-data-table-toolbar> <md-data-table-container>
		<table md-data-table md-progress="deferred">
			<thead>
				<tr>
					<th></th>
					<th name="{{name}}" ng-repeat="name in fieldNames"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select ng-repeat="field in tblFields">
					<td><i ng-show="isPKField(field.name)" title="Primary Key"
						class="fa fa-key primaryKey"></i><i
						ng-show="isUniqueField(field.name)" title="Unique Key"
						class="fa fa-key foreignKey"></i></td>
					<td>{{field.name}}</td>
					<td>{{field.type}}</td>
					<td>{{field.label}}</td>
					<td>{{field.mandatory}}</td>
					<td>{{field.initial}}</td>
					<td>{{field.extent}}</td>
					<td>{{field.format}}</td>
					<td>{{field.help}}</td>
					<td>{{field.view}}</td>
					<td>{{field.decimals}}</td>
					<td>{{field.description}}</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container> </md-content> </md-tab> <md-tab label="Explorer" ng-click="loadExplorer()" layout="column">
		<md-content class="md-padding"> <md-data-table-toolbar>
		<h2 class="md-title">{{selectedTbl}}</h2>
		<span flex></span> <md-button class="md-fab md-mini"
			ng-click="insertAction()"> <i class="fa fa-plus-square"></i>
		</md-button> <md-button class="md-fab md-mini" ng-if="explorerOpt.selected"
			ng-click="deleteAction()"> <i class="fa fa-trash"></i> </md-button> <md-button
			class="md-fab md-mini" ng-if="explorerOpt.selected"
			ng-click="updateAction()"
			ng-disabled="!explorerOpt.selected.__changed"> <i
			class="fa fa-floppy-o"></i> </md-button> </md-data-table-toolbar> <md-content> <md-content>
		<md-data-table-container>
		<table md-data-table md-progress="deferred">
			<thead md-head>
				<tr>
					<th name="{{key}}" ng-repeat="(key,value) in explorerOpt.header"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in explorerOpt.data" ng-click="selectRow(row)"
					ng-class="{'md-selected': row.__selected}">
					<td ng-repeat="(key,value) in row" ng-if="evaluateState(row)">
						<label ng-if="key === 'rowid'" type="text">{{value}}</label> <input
						kendo-date-picker ng-if="explorerOpt.types[key] === 'date'"
						k-format="'yyyy-MM-dd'" ng-model="row[key]"
						ng-change="rowChanged()"> <input class="k-textbox"
						ng-if="explorerOpt.types[key] === 'text'" ng-model="row[key]"
						ng-change="rowChanged()" type="text"> <input
						class="k-textbox" ng-if="explorerOpt.types[key] === 'number'"
						ng-model="row[key]" ng-change="rowChanged()" type="number">
						<md-checkbox ng-if="explorerOpt.types[key] === 'checkbox'"
							ng-model="row[key]" ng-change="rowChanged()"></md-checkbox>
					</td>
					<td ng-repeat="(key, value) in row" ng-if="!evaluateState(row)">
						{{value}}</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container> <md-data-table-pagination md-limit="explorerOpt.limit"
			md-page="explorerOpt.page" md-total="{{explorerOpt.total}}"
			md-trigger="onPaginationChange"></md-data-table-pagination> </md-content></md-tab> </md-tabs> </md-content>
	</div>
	<div ng-show="!selectedTbl">No table selected</div>
</div>
</md-content>
