doctype html
html(ng-app='akeraRest')
  head
    title Akera RestExplorer
    script.
      broker = '#{broker}'
      restRoute = '#{restRoute}'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='resources/angular-material-data-table/dist/md-data-table.min.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='resources/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css' href='resources/angular-material/angular-material.min.css')
    link(rel='stylesheet', type='text/css' href='resources/kendo/css/kendo.common-material.min.css')
    link(rel='stylesheet', type='text/css' href='resources/kendo/css/kendo.material.min.css')
    link(rel='stylesheet', type='text/css' href='resources/angular-ui-tree/dist/angular-ui-tree.min.css')
  body(ng-controller='mainCtrl')
    md-toolbar(layout='row')
      .md-toolbar-tools
        md-button.md-icon-button(ng-click="toggleSidenav()")
          md-icon(aria-label='Menu', md-svg-icon='img/menu.svg')
        h1 Akera RestExplorer [#{broker}]
    ui-view(id='mainBody', layout='row')
    script(type='text/javascript', src='resources/jquery/dist/jquery.js')
    script(type='text/javascript', src='resources/angular/angular.js')
    script(type='text/javascript', src='resources/angular-animate/angular-animate.min.js')
    script(type='text/javascript', src='resources/angular-aria/angular-aria.min.js')
    script(type='text/javascript', src='resources/angular-material/angular-material.min.js')
    script(type='text/javascript', src='resources/angular-material-data-table/dist/md-data-table.js')
    script(type='text/javascript', src='resources/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='resources/angular-ui-tree/dist/angular-ui-tree.min.js')
    script(type='text/javascript', src='resources/kendo/js/kendo.custom.min.js')
    script(type='text/javascript', src='resources/kendo/js/kendo.angular.min.js')
    script(type='text/javascript', src='components/main/main.js')
    script(type='text/javascript', src='components/crudCmp/model/crudCtrl.js')
    script(type='text/javascript', src='components/crudCmp/model/insertCtrl.js')
